body { 
    background-color: white;
    font-family: "Stack Sans Text", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

.cabecalho{
    background-color: black;
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 80px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
}

#titulo {

}

p {
    
}

.imgcentro {

}

nav{

}

li{
    display: inline-block;
   

}

li a{
    font-size: 50px;
    text-decoration: none;
    color: black;
    transition: background-color 0.2s;

}

li a:hover{
    background-color: grey;
}

button{
    font-size: 16px;
    color: rgb(255, 0, 132);

}