body { 
    background-color: white;
    font-family: "Stack Sans Text", sans-serif;
}

.cabecalho{
    background-color: black;
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 80px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
    font-weight: bold;
    font-style: italic;
    font-family: "Stack Sans Text", sans-serif;

}

.titulo {

}

p {
    font-family: "Stack Sans Text", sans-serif;
    color: black;
    font-size: 27px;
    padding: 0 50px;
}   

.imagem{
    text-align: center;
    width: fit-content;
    margin: 20px auto 10px;
}

img{
    width: 300px;
}


nav{

}

ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

li{
    display: inline-block;
   

}

li a{
    font-size: 50px;
    text-decoration: none;
    color: black;
    text-shadow: none;
    transition: text-shadow 0.2s;
    font-family: "Stack Sans Text", sans-serif;

}

li a:hover{
    text-shadow: 0 0 20px black;
}

a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 20px;
    margin: auto;

}

button{
    font-size: 16px;
    color: rgb(255, 0, 132);

}