body { 
    background-color: white;
    font-family: "Stack Sans Text", sans-serif;
}

.cabecalho{
    background-color: black;
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 80px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
    font-weight: bold;
    font-style: italic;
    font-family: "Stack Sans Text", sans-serif;

}

.titulo {

}

p {
    font-family: "Stack Sans Text", sans-serif;
    color: black;
    font-size: 27px;
    padding: 0 50px;
}   

.imagem{
    text-align: center;
    width: fit-content;
    margin: 20px auto 10px;
}

img{
    width: 300px;
}


nav{

}

ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

li{
    display: inline-block;
    font-size: 50px;
    text-decoration: none;
    color: black;
    text-shadow: none;
    transition: text-shadow 0.2s;
    font-family: "Stack Sans Text", sans-serif;

}


li a:hover{
    text-shadow: 0 0 20px black;
}

.voltar{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 20px;
    margin: auto;
    background-color: black;
    transition: background-color 0.2s;
    padding: 20px;
}

.voltar:hover{
    background-color: grey;
}


.paragrafo{
    margin-left: 70px;
}

.fim{
    margin-top: 70px;
    width: 100%;
    text-align: center;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

main img{
    width: 300px;
    border-radius: 100%;
    opacity: 1;
    transition: opacity 0.5s;
}

main img:hover{
    opacity: 0.7;
    cursor: pointer;
}

main ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

main p{
    text-align: center;
    font-size: 40px;
}


@media screen and (max-width: 500px) {
    p{
        font-size: 15px;
    }

    .cabecalho{
        font-size: 40px;
    }

    img{
        width: 200px;
    }
}